language: node_js
node_js:
  - "10"
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn test
  - yarn build
before_deploy:
  - yarn docs
  - mv ./build-docs ./build-demo/docs
deploy:
  - provider: pages
    skip-cleanup: true
    github-token: $github_token
    local-dir: build-demo
    fqdn: cisvis.gehlenborglab.org
keep-history: true