body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6f6; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.cistrome-explorer {
  height: 100vh; }
  .cistrome-explorer .ce-generic-button,
  .cistrome-explorer .ce-generic-button-lg,
  .cistrome-explorer .ce-generic-button-sm {
    cursor: pointer;
    color: #434343; }
    .cistrome-explorer .ce-generic-button svg,
    .cistrome-explorer .ce-generic-button-lg svg,
    .cistrome-explorer .ce-generic-button-sm svg {
      vertical-align: middle;
      display: inline-block; }
  .cistrome-explorer .ce-generic-button-activated {
    color: #2299DB; }
  .cistrome-explorer .ce-generic-button-deactivated {
    color: #bfbfbf; }
  .cistrome-explorer .ce-generic-button svg {
    width: 20px;
    height: 20px; }
  .cistrome-explorer .ce-generic-button-lg svg {
    width: 30px;
    height: 30px; }
  .cistrome-explorer .ce-generic-button-sm svg {
    width: 12px;
    height: 12px; }
  .cistrome-explorer .header-container {
    font-family: Helvetica, Arial, sans-serif, "Lato", "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    border-radius: 0px;
    padding-top: 15px;
    margin-bottom: 0px;
    background: #f5f5f5;
    height: 50px;
    width: 100%;
    z-index: 3; }
    .cistrome-explorer .header-container .header {
      color: black;
      font-size: 14px;
      text-align: left;
      padding-left: 15px;
      padding-right: 15px; }
      .cistrome-explorer .header-container .header .cisvis-title {
        font-size: 18px;
        margin-left: 6px;
        margin-right: 10px;
        font-weight: bold;
        text-transform: uppercase; }
        .cistrome-explorer .header-container .header .cisvis-title hl {
          color: black; }
      .cistrome-explorer .header-container .header .header-control {
        position: relative;
        padding-top: 6px;
        margin-left: 20px; }
        .cistrome-explorer .header-container .header .header-control span {
          margin-right: 10px; }
        .cistrome-explorer .header-container .header .header-control small {
          font-size: 10px;
          font-weight: bold;
          color: gray; }
      .cistrome-explorer .header-container .header .header-info {
        float: right; }
        .cistrome-explorer .header-container .header .header-info span {
          margin-left: 7px; }
        .cistrome-explorer .header-container .header .header-info a {
          color: #4f4f4f; }
  .cistrome-explorer .sub-header {
    height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    background: #F6F6F6; }
    .cistrome-explorer .sub-header .ce-generic-button,
    .cistrome-explorer .sub-header .ce-generic-button-lg,
    .cistrome-explorer .sub-header .ce-generic-button-sm {
      margin-right: 10px; }
  .cistrome-explorer .visualization-container {
    width: 100%;
    height: calc(100% - 50px);
    background: #F6F6F6;
    overflow-x: auto; }
    .cistrome-explorer .visualization-container .h-resizer {
      width: 6px;
      margin-top: 11px;
      background: #F6F6F6;
      height: calc(100% - 66px);
      position: fixed;
      z-index: 1;
      cursor: ew-resize;
      border-radius: 6px; }
    .cistrome-explorer .visualization-container .h-resizer:hover {
      background: #b8b8b8;
      -webkit-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear; }
    .cistrome-explorer .visualization-container .visualization {
      background: #F6F6F6;
      padding: 10px;
      padding-left: 0px;
      padding-top: 40px;
      height: 100%;
      position: relative;
      margin-left: 0%;
      margin-top: 4px;
      padding-left: 15px;
      box-sizing: border-box; }
    .cistrome-explorer .visualization-container .settings {
      position: fixed;
      background: #f5f5f5;
      border-right: 1px solid #c1c1c1;
      top: 0px;
      width: 400px;
      padding: 15px;
      z-index: 3;
      transition: left 0.2s ease-out;
      box-shadow: -10px 0px 10px 0 #888;
      border: 1px solid gray; }
      .cistrome-explorer .visualization-container .settings h2 {
        font-size: 14px;
        margin: 5px 0px; }
      .cistrome-explorer .visualization-container .settings .ce-generic-button {
        margin-right: 6px; }
      .cistrome-explorer .visualization-container .settings .setting-separater {
        height: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid lightgray; }
      .cistrome-explorer .visualization-container .settings .viewconf-options {
        color: black;
        font-size: 12px; }
        .cistrome-explorer .visualization-container .settings .viewconf-options select {
          width: 100%; }
        .cistrome-explorer .visualization-container .settings .viewconf-options form span {
          display: block; }
          .cistrome-explorer .visualization-container .settings .viewconf-options form span label {
            margin-left: 10px;
            cursor: pointer;
            font-weight: normal; }

.position-search-box {
  margin-left: 8px;
  margin-right: 6px;
  padding-left: 4px;
  width: 300px;
  border-radius: 0px;
  color: black;
  border: solid 1px lightgray; }

.position-search-box:focus {
  outline: none; }

.gene-suggestion {
  position: absolute;
  z-index: 1;
  background: white;
  line-height: 14px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  position: absolute;
  background: white;
  width: 300px; }
  .gene-suggestion ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0; }
    .gene-suggestion ul li {
      padding: 10px 6px 10px 6px; }
    .gene-suggestion ul li:hover {
      background: #eeeeee; }

.help-highlight {
  box-shadow: 0 0 0 2px #2299DB, 0 0 12px 0 #2299DB !important; }

@keyframes animateBox {
  50% {
    box-shadow: 0 0 0 2px #2299DB, 0 0 12px 0 #2299DB; } }

.react-resizable-handle {
  visibility: hidden; }

.hm-tooltip {
  position: fixed;
  z-index: 1;
  margin: 17px 0 0 9px;
  padding: 0.5rem;
  font-size: 14px;
  pointer-events: none;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 0 7px 0 rgba(0, 0, 0, 0.1); }

.hm-tooltip-help {
  color: white !important;
  background: #474747 !important; }

.hm-tooltip-title {
  font-size: 14px;
  margin-bottom: 3px;
  font-weight: bold; }

.hm-tooltip-content-group {
  display: table-row; }

.hm-tooltip-color-container {
  padding-right: 6px;
  display: table-cell; }

.hm-tooltip-color {
  border: 1px solid black;
  width: 12px;
  height: 12px;
  margin-right: 3px; }

.hm-tooltip-warning {
  color: 'red'; }

.hm-root {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
  text-align: left; }

.hm-hidden {
  display: none; }

.hm-button-sm-container-horizontal,
.hm-button-sm-container-vertical {
  position: absolute;
  border-radius: 2.5px;
  background: white;
  opacity: 0.6;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 3px 0 rgba(0, 0, 0, 0.1);
  display: flex; }

.hm-button-sm-container-help-hl {
  box-shadow: 0 0 0 2px #2299DB, 0 0 12px 0 #2299DB; }

.hm-button-sm-container-horizontal {
  flex-direction: row; }

.hm-button-sm-container-vertical {
  flex-direction: column; }

.hm-button-sm-container-horizontal:hover,
.hm-button-sm-container-vertical:hover {
  opacity: 1; }

.hm-button,
.hm-button-sm,
.hm-button-sm-hl,
.hm-button-lg {
  padding: 4px;
  cursor: pointer;
  border-radius: 2.5px;
  transition: background .15s ease, color .15s ease stroke .15s ease, color .15s ease; }

.hm-button-sm-hl {
  color: #b12929; }

.hm-button,
.hm-button-drag {
  height: 25px;
  width: 25px; }

.hm-button-sm,
.hm-button-sm-hl {
  height: 20px;
  width: 20px; }

.hm-button-lg {
  height: 35px;
  width: 35px; }

.hm-button:hover,
.hm-button-sm:hover,
.hm-button-sm-hl:hover,
.hm-button-lg:hover {
  color: #fff;
  background: #337ab7;
  opacity: 1; }

.hm-button-static {
  pointer-events: none; }

.hm-button-drag {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move; }
  .hm-button-drag div {
    width: 1px;
    height: 50%;
    margin: 1px;
    background: #bbb; }

.hm-button-middle {
  border-radius: 0; }

.hm-button-left {
  border-radius: 2.5px 0 0 2.5px; }

.hm-button-right {
  border-radius: 0 2.5px 2.5px 0; }

.hm-button-top {
  border-radius: 2.5px 2.5px 0 0; }

.hm-button-bottom {
  border-radius: 0 0 2.5px 2.5px; }

.visualization-resizer {
  position: absolute;
  cursor: ew-resize;
  border-left: 1px solid black;
  border-right: 1px solid black;
  opacity: 0.3;
  z-index: 1;
  transform-origin: center;
  scale: 1;
  transition: transform .15s ease, opacity .15s ease; }

.visualization-resizer:hover,
.visualization-resizer:active {
  box-shadow: 0 0 3px 1px #0089ff;
  background: #0089ff;
  opacity: 1;
  transform: scale(2); }

.minimum-similarity-bar {
  position: absolute;
  cursor: ew-resize;
  border-left: 1px solid #b12929;
  border-right: 1px solid #b12929;
  opacity: 0.3;
  z-index: 1;
  transform-origin: center;
  scale: 1;
  transition: transform .15s ease, opacity .15s ease; }

.minimum-similarity-bar:hover,
.minimum-similarity-bar:active {
  opacity: 0.5;
  transform: scaleX(2); }

input[type="checkbox"] {
  zoom: 1.1; }

.cisvis-data-table-bg {
  transition: height 0.2s ease-out; }

.cisvis-data-table-bg-no-transition:focus,
.cisvis-data-table-bg:focus {
  outline: none; }

.cisvis-data-table-bg-no-transition,
.cisvis-data-table-bg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 4; }
  .cisvis-data-table-bg-no-transition .cisvis-data-table-header,
  .cisvis-data-table-bg .cisvis-data-table-header {
    height: 3px;
    background: black;
    cursor: ns-resize; }
  .cisvis-data-table-bg-no-transition .cisvis-data-table-container,
  .cisvis-data-table-bg .cisvis-data-table-container {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    box-shadow: 0px 0px 10px 0px #888;
    padding: 30px; }
    .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-table-title,
    .cisvis-data-table-bg .cisvis-data-table-container .cisvis-table-title {
      font-weight: bold;
      display: inline-block;
      margin-right: 14px; }
    .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-table-subtitle,
    .cisvis-data-table-bg .cisvis-data-table-container .cisvis-table-subtitle {
      display: inline-block;
      color: gray;
      position: relative; }
    .cisvis-data-table-bg-no-transition .cisvis-data-table-container .toolkit-btn-add-track,
    .cisvis-data-table-bg-no-transition .cisvis-data-table-container .toolkit-btn-add-track-active,
    .cisvis-data-table-bg .cisvis-data-table-container .toolkit-btn-add-track,
    .cisvis-data-table-bg .cisvis-data-table-container .toolkit-btn-add-track-active {
      cursor: not-allowed;
      color: lightgray;
      right: 130px;
      top: 140px;
      padding: 4px;
      font-weight: bold;
      position: absolute;
      display: flex;
      align-items: center; }
    .cisvis-data-table-bg-no-transition .cisvis-data-table-container .toolkit-btn-add-track-active,
    .cisvis-data-table-bg .cisvis-data-table-container .toolkit-btn-add-track-active {
      cursor: pointer;
      color: #4d4c4c; }
    .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body,
    .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body {
      height: calc(100% - 40px);
      display: grid;
      grid-template-columns: 350px 350px auto;
      grid-column-gap: 6px;
      grid-template-rows: 30px auto; }
      .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-header,
      .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-header {
        background: gray;
        font-weight: bold;
        color: white;
        padding: 5px;
        border: 1px solid lightgray;
        border-bottom: none; }
      .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request,
      .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request {
        border: 1px solid lightgray;
        background: white;
        overflow-y: auto;
        padding: 1px; }
        .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view,
        .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected,
        .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view,
        .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected {
          padding: 12px 8px 12px 8px;
          background: white;
          border-bottom: 1px solid lightgray;
          transition: height 0.2s ease-out; }
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view .api-search-button,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view .api-search-button-disabled,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected .api-search-button,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected .api-search-button-disabled,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view .api-search-button,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view .api-search-button-disabled,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected .api-search-button,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected .api-search-button-disabled {
            cursor: pointer;
            color: black;
            width: 100%;
            height: 30px;
            padding: 6px;
            font-weight: bold;
            text-align: center; }
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view .api-search-button-disabled,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected .api-search-button-disabled,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view .api-search-button-disabled,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected .api-search-button-disabled {
            cursor: not-allowed;
            color: gray; }
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view .api-title,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected .api-title,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view .api-title,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected .api-title {
            font-weight: bold;
            text-transform: uppercase; }
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view .api-subtitle,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected .api-subtitle,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view .api-subtitle,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected .api-subtitle {
            color: gray;
            margin-bottom: 12px; }
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view input,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected input,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view input,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected input {
            padding: 3px; }
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view select, .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view input,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected select,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected input,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view select,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view input,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected select,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected input {
            width: 94%;
            margin-left: 3%;
            margin-top: 6px;
            margin-bottom: 6px;
            height: 22px; }
        .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected,
        .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-request .api-config-view-selected {
          outline: 1px solid #00a3fe;
          background: #e2f1ff; }
      .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list,
      .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list {
        border: 1px solid lightgray;
        background: white;
        overflow-y: auto;
        padding: 1px; }
        .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result,
        .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result-selected,
        .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result,
        .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result-selected {
          cursor: pointer;
          padding: 6px;
          padding-bottom: 2px;
          background: white;
          border-bottom: 1px solid lightgray; }
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result .cisvis-api-parameter,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result-selected .cisvis-api-parameter,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result .cisvis-api-parameter,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result-selected .cisvis-api-parameter {
            margin-bottom: 4px; }
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result .cisvis-api-parameter span,
          .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result-selected .cisvis-api-parameter span,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result .cisvis-api-parameter span,
          .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result-selected .cisvis-api-parameter span {
            font-weight: bold;
            padding: 2px 4px;
            margin-right: 4px;
            font-size: 90%;
            color: #ffffff;
            background-color: #adacac;
            border-radius: 4px; }
        .cisvis-data-table-bg-no-transition .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result-selected,
        .cisvis-data-table-bg .cisvis-data-table-container .cisvis-cistrome-toolkit-body .cisvis-api-result-list .cisvis-api-result-selected {
          outline: 1px solid #00a3fe;
          background: #e2f1ff; }

.cistrome-api-text-input {
  width: 200px; }

.cisvis-progress-ring {
  left: calc(50% - 10px);
  position: relative;
  border: 3px solid white;
  border-top: 3px solid #2689ff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  left: auto;
  margin-left: 2px;
  margin-right: 6px;
  top: 4px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.col-tools-hg-overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%; }
  .col-tools-hg-overlay .col-tools-hover-line {
    border-left: 1px solid black;
    height: 100%;
    width: 1px;
    position: absolute; }
  .col-tools-hg-overlay .col-tools-hover-line-info {
    position: absolute;
    margin-left: 1px;
    padding-left: 4px;
    padding-right: 4px;
    background: rgba(255, 255, 255, 0.7); }
  .col-tools-hg-overlay .col-tools-brush-black {
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.4); }
  .col-tools-hg-overlay .col-tools-brush-gray {
    height: 100%;
    position: absolute;
    background: rgba(119, 119, 119, 0.3);
    border: 1px solid rgba(119, 119, 119, 0.7); }

.hm-context-menu-container {
  position: fixed;
  min-width: 200px;
  background-color: #fffffff2;
  border: 1px solid #0000001a;
  border-radius: 3px;
  font-size: 12px;
  cursor: default;
  padding: 3px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.05);
  z-index: 1; }
  .hm-context-menu-container .hm-context-menu-separator {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .hm-context-menu-container .hm-context-menu-item,
  .hm-context-menu-container .hm-context-menu-item-title {
    padding: 2px;
    white-space: nowrap;
    border-radius: 2px;
    transition: background .15s ease, color .15s ease; }
  .hm-context-menu-container .hm-context-menu-item-title {
    font-weight: bold; }
  .hm-context-menu-container .hm-context-menu-item:hover {
    background: #337ab7;
    color: #fff; }

.hm-filter {
  position: absolute;
  z-index: 2;
  flex-direction: column;
  border-radius: 6px;
  background: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.075), 0 0 7px 0 rgba(0, 0, 0, 0.05);
  opacity: 0.8; }
  .hm-filter .hm-filter-box {
    width: auto;
    height: auto;
    display: flex;
    align-items: center; }
  .hm-filter .hm-filter-suggestions {
    line-height: 14px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    position: absolute;
    background: white; }
    .hm-filter .hm-filter-suggestions ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0; }
      .hm-filter .hm-filter-suggestions ul li {
        padding: 6px 6px 6px 0; }

.hm-filter:hover,
.hm-filter:focus-within {
  opacity: 1; }

.hm-filter-suggestion-text {
  cursor: pointer; }

.hm-filter-suggestion-text.active-suggestion {
  background: #e1e1e1; }

.hm-filter-box-input {
  margin-right: 6px;
  border: none;
  border-bottom: solid 1px lightgray; }

.hm-filter-box-input:focus {
  outline: none; }

.cisvis-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  padding-bottom: 10px;
  background: white;
  table-layout: fixed; }
  .cisvis-table thead {
    border-bottom: 1px solid black; }
  .cisvis-table .data-table-row {
    cursor: pointer; }
  .cisvis-table .data-table-row:hover {
    background: #e2f1ff; }
  .cisvis-table .data-table-row-selected {
    outline: 1px solid #00a3fe;
    background: #e2f1ff; }
  .cisvis-table th {
    height: 30px;
    padding: 10px 8px;
    font-size: small;
    overflow: auto; }
  .cisvis-table tr, .cisvis-table td {
    padding: 10px 8px;
    outline: none;
    overflow: auto; }

.hm-vertical-zoom-info {
  display: inline-block;
  position: relative;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 16px; }

.col-tools-brush-bar {
  cursor: ew-resize;
  pointer-events: all;
  background: white;
  border-radius: 2px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  border: 1px solid #6F6F6F; }
  .col-tools-brush-bar .col-tools-hover-line {
    border-left: 1px solid #4d4d4d;
    height: 100%;
    width: 1px;
    position: absolute; }
  .col-tools-brush-bar .col-tools-brush {
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.15); }
  .col-tools-brush-bar .col-tools-chr-info {
    position: absolute; }

.hm-range-slider-container {
  display: flex;
  flex-direction: row; }
  .hm-range-slider-container .hm-range-slider {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px; }
  .hm-range-slider-container .hm-range-slider-ruler-bg,
  .hm-range-slider-container .hm-range-slider-ruler-fg {
    background: lightgray;
    height: 7px;
    width: 100%;
    margin: 4px;
    border-radius: 3px;
    position: absolute; }
  .hm-range-slider-container .hm-range-slider-ruler-bg {
    background: lightgray; }
  .hm-range-slider-container .hm-range-slider-ruler-fg {
    background: #337ab7; }
  .hm-range-slider-container .hm-range-slider-mover-left,
  .hm-range-slider-container .hm-range-slider-mover-right {
    background: gray;
    border: 1px solid white;
    border-radius: 16px;
    position: absolute;
    cursor: ew-resize; }
  .hm-range-slider-container .hm-range-input {
    width: 60px;
    margin-right: 6px;
    border: none;
    border-bottom: solid 1px lightgray; }
  .hm-range-slider-container .hm-range-input:focus {
    outline: none; }
