.app {
    text-align: center;
}

.container {
    border: 0px solid gray;
    width: 70%;
    position: relative;
    margin-left: 15%;
    box-sizing: border-box;
}

.viewconf-options {
    form {
        span {
            display: block;
            label {
                margin-left: 10px;
                cursor: pointer;
                font-weight: normal;
            }
        }
    }
}