.cisvis-cistrome-toolkit-body {
    height: calc(100% - 40px);
    display: grid;
    grid-template-columns: 350px auto;
    grid-column-gap: 6px;
    .cisvis-api-result-list {
        border: 1px solid lightgray;
        background: white;
        overflow-y: auto;
        .cisvis-api-result,
        .cisvis-api-result-selected {
            cursor: pointer;
            padding: 6px;
            background: white;
            border-bottom: 1px solid lightgray;
            margin-left: 1px;
            margin-right: 1px;
            margin-top: 1px;
            .cisvis-api-parameter {
                font-weight: bold;
                padding: 2px 4px;
                margin-right: 4px;
                font-size: 90%;
                color: #ffffff;
                background-color: #adacac;
                border-radius: 4px;
            }
        }
        .cisvis-api-result-selected{
            outline: 1px solid #00a3fe;
            background: #e2f1ff;
        }
    }
}