.chw-root {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    text-align: left;
}

.chw-hidden {
    display: none;
}

.chw-button-sm-container-horizontal,
.chw-button-sm-container-vertical {
    position: absolute;
    border-radius: 2.5px;
    background: white;
    opacity: 0.6;
    box-shadow: 0 0 0 1px rgba(0,0,0,.05),0 0 3px 0 rgba(0,0,0,.1);
    display: flex;
}
.chw-button-sm-container-horizontal {
    flex-direction: row;
}
.chw-button-sm-container-vertical {
    flex-direction: column;
}
.chw-button-sm-container-horizontal:hover,
.chw-button-sm-container-vertical:hover {
    opacity: 1;
}

.chw-button,
.chw-button-sm,
.chw-button-lg {
    padding: 4px;
    cursor: pointer;
    border-radius: 2.5px;
    transition: background .15s ease, color .15s ease;
}
.chw-button,
.chw-button-drag {
    height: 25px;
    width: 25px;
}
.chw-button-sm {
    height: 20px;
    width: 20px;
}
.chw-button-lg {
    height: 35px;
    width: 35px;
}
.chw-button:hover,
.chw-button-sm:hover,
.chw-button-lg:hover {
    color: #fff;
    background: #337ab7;
    opacity: 1;
}
.chw-button-static {
    pointer-events: none;
}
.chw-button-drag {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
    div {
        width: 1px;
        height: 50%;
        margin: 1px;
        background: #bbb;
    }
}
.chw-button-middle {
    border-radius: 0;
}
.chw-button-left {
    border-radius: 2.5px 0 0 2.5px;
}
.chw-button-right {
    border-radius: 0 2.5px 2.5px 0;
}
.chw-button-top {
    border-radius: 2.5px 2.5px 0 0;
}
.chw-button-bottom {
    border-radius: 0 0 2.5px 2.5px;
}

.visualization-resizer {
    position: absolute;
    cursor: ew-resize;
    border-left: 1px solid black;
    border-right: 1px solid black;
    opacity: 0.3;
    z-index: 1;
    transform-origin: center;
    scale: 1;
    transition: transform .15s ease, opacity .15s ease;
}

.visualization-resizer:hover, 
.visualization-resizer:active {
    box-shadow: 0 0 3px 1px #0089ff;
    background: #0089ff;
    opacity: 1;
    transform: scale(2);
} 
