.cistrome-hgw {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    text-align: left;
}

.cistrome-hgw-child {
    position: absolute;
}

.chw-hidden-canvas {
    display: none;
}