.hm-context-menu-container {
    position: fixed;
    min-width: 200px;
    background-color: #fffffff2;
    border: 1px solid #0000001a;
    border-radius: 3px;
    font-size: 12px;
    cursor: default;
    padding: 3px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.05);
    z-index: 1;
    
    .hm-context-menu-separator {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .hm-context-menu-item,
    .hm-context-menu-item-title {
        padding: 2px;
        white-space: nowrap;
        border-radius: 2px;
        transition: background .15s ease, color .15s ease;
    }
    .hm-context-menu-item-title {
        font-weight: bold;
    }
    .hm-context-menu-item:hover {
        background: #337ab7;
        color: #fff;
    }
}