.cisvis-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    padding-bottom: 10px;
    background: white;
    thead {
        border-bottom: 1px solid black;
    }
    .data-table-row-selected {
        outline: 1px solid #00a3fe;
        background: #e2f1ff;
    }
    th {
        height: 30px;
        padding: 10px 8px;
    }
    tr, td {
        padding: 10px 8px;
        outline: none;
    }
}