.cisvis-data-table-bg { 
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .cisvis-data-table-container{
        background: #f5f5f5;
        box-shadow: 0px 0px 30px 0px #444;
        border-radius: 3px;
        padding: 30px;
    }
}

.cisvis-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    padding-bottom: 10px;
    background: white;
    thead {
        border-bottom: 1px solid black;
    }
    tbody tr:hover {
        background: rgb(233, 233, 233);
    }
    th {
        height: 30px;
        padding: 10px 8px;
    }
    tr, td {
        padding: 10px 8px;
        outline: none;
    }
}

.cisvis-table-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 14px;
}

.cisvis-table-subtitle {
    display: inline-block;
    color: gray;
    position: relative;
    .cisvis-progress-ring {
        display: inline-block;
        left: auto;
        margin-left: 2px;
        margin-right: 6px;
        top: 4px;
    }
}