.hm-root {
	position: relative;
	display: block;
	width: auto;
	height: 100%;
	text-align: left;
}

.hm-hidden {
	display: none;
}

.hm-button-sm-container-horizontal,
.hm-button-sm-container-vertical {
	position: absolute;
	border-radius: 2.5px;
	background: white;
	opacity: 0.6;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 3px 0 rgba(0, 0, 0, 0.1);
	display: flex;
}
.hm-button-sm-container-help-hl {
	box-shadow: 0 0 0 2px #2299db, 0 0 12px 0 #2299db;
}
.hm-button-sm-container-horizontal {
	flex-direction: row;
}
.hm-button-sm-container-vertical {
	flex-direction: column;
}
.hm-button-sm-container-horizontal:hover,
.hm-button-sm-container-vertical:hover {
	opacity: 1;
}

.hm-button,
.hm-button-sm,
.hm-button-sm-hl,
.hm-button-lg {
	padding: 4px;
	cursor: pointer;
	border-radius: 2.5px;
	transition: background 0.15s ease, color 0.15s ease stroke 0.15s ease, color 0.15s ease;
}
.hm-button-sm-hl {
	color: #b12929;
}
.hm-button,
.hm-button-drag {
	height: 25px;
	width: 25px;
}
.hm-button-sm,
.hm-button-sm-hl {
	height: 20px;
	width: 20px;
}
.hm-button-lg {
	height: 35px;
	width: 35px;
}
.hm-button:hover,
.hm-button-sm:hover,
.hm-button-sm-hl:hover,
.hm-button-lg:hover {
	color: #fff;
	background: #337ab7;
	opacity: 1;
}
.hm-button-static {
	pointer-events: none;
}
.hm-button-drag {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: move;
	div {
		width: 1px;
		height: 50%;
		margin: 1px;
		background: #bbb;
	}
}
.hm-button-middle {
	border-radius: 0;
}
.hm-button-left {
	border-radius: 2.5px 0 0 2.5px;
}
.hm-button-right {
	border-radius: 0 2.5px 2.5px 0;
}
.hm-button-top {
	border-radius: 2.5px 2.5px 0 0;
}
.hm-button-bottom {
	border-radius: 0 0 2.5px 2.5px;
}

.visualization-resizer {
	position: absolute;
	cursor: ew-resize;
	border-left: 1px solid black;
	border-right: 1px solid black;
	opacity: 0.3;
	z-index: 1;
	transform-origin: center;
	scale: 1;
	transition: transform 0.15s ease, opacity 0.15s ease;
}

.visualization-resizer:hover,
.visualization-resizer:active {
	box-shadow: 0 0 3px 1px #0089ff;
	background: #0089ff;
	opacity: 1;
	transform: scale(2);
}

.minimum-similarity-bar {
	position: absolute;
	cursor: ew-resize;
	border-left: 1px solid #b12929;
	border-right: 1px solid #b12929;
	opacity: 0.3;
	z-index: 1;
	transform-origin: center;
	scale: 1;
	transition: transform 0.15s ease, opacity 0.15s ease;
}

.minimum-similarity-bar:hover,
.minimum-similarity-bar:active {
	opacity: 0.5;
	transform: scaleX(2);
}

input[type='checkbox'] {
	zoom: 1.1;
}
