.cistrome-hgw-tooltip {
    position: fixed;
    z-index: 1;
    margin: 17px 0 0 9px;
    padding: 0.25rem;
    font-size: 0.8em;
    pointer-events: none;
    background: white;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                0 0 3px 0 rgba(0, 0, 0, 0.075),
                0 0 7px 0 rgba(0, 0, 0, 0.05);
}

.chgw-tooltip-title {
    margin-bottom: 3px;
}

.chgw-tooltip-content-group {
    display: table-row;
}

.chgw-tooltip-content-group div {
    display: table-cell;
}

.chgw-tooltip-color-container {
    padding-right: 6px;
}
.chgw-tooltip-color {
    border: 1px solid black;
    width: 12px;
    height: 12px;
    margin-right: 3px;
}