.row-name {
    display: block;
    box-sizing: border-box;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    width: auto;
    position: relative;
}

.cistrome-track-control {
    position: absolute;
}

.cistrome-track-control-button {
    border-radius: 2.5px;
}

.cistrome-track-control-button:hover {
    color: #fff;
    background: #337ab7;
    opacity: 1;
}