.col-tools {
    cursor: ew-resize;
    margin-top: 4px;
    pointer-events: all;
    background: #e5e5e5;
    border-radius: 2px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    .col-tools-column-info {
        border-left: 1px solid #686868;
        height: 100%;
        width: 1px;
        display: block;
        position: absolute;
    }
    .col-tools-chr-info {
        position: absolute;
    }
}