.row-name {
    display: block;
    box-sizing: border-box;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    width: auto;
    position: relative;
}

.cistrome-track-control {
    // background: rgba(211, 211, 211, 0.527);
    position: absolute;
    // pointer-events: none;
}
