.row-link {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    a {
        display: block;
        position: absolute;
        padding: 0 5px;
        white-space: nowrap;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            background-color:#E5E5E5;
        }
    }
}