.cistrome-hgw-searchbox {
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    border-radius: 6px;
    background: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.075), 0 0 7px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.chgw-search-close-button {
    margin: 0 auto;
    display: block;
} 